@model E_Diary.WEB.Models.ResetPasswordViewModel
<div class="row">
    <div class="col-md-4">
        @if (ViewBag.Error != null)
        {
            <p class="text-danger">@ViewBag.Error</p>
        }
        <form asp-action="ResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="Token" />
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <div class="row" style="--bs-gutter-x:0">
                    <input type="text" asp-for="Password" class="form-control col" />
                    <button name="GeneratePassword" type="button" class="btn btn-success form-control col">Сгенерировать</button>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сбросить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/GetGeneratedPassword.js" asp-append-version="true"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}