@model IEnumerable<E_Diary.WEB.Data.Entities.Group>

@{
    ViewData["Title"] = "Index";
}

<h1>Список классов</h1>

<p>
    <a asp-action="Create"><button class="btn btn-success rounded-1">Добавить</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Literal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Literal)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id=@item.Id><button class="btn btn-primary rounded-1">Редактировать</button></a>
                    <a asp-action="Details" asp-route-id=@item.Id><button class="btn btn-secondary rounded-1">Подробнее</button></a>
                    <a asp-action="Delete" asp-route-id=@item.Id><button class="btn btn-danger rounded-1">Удалить</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
