@model E_Diary.WEB.Areas.Manage.Models.CreateCertificationPeriodViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Добавить</h1>

<h4>Аттестационный период</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCertificationPeriod">
            <input type="hidden" asp-for="StudyYearId" value="@Model.StudyYearId"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Start" class="control-label"></label>
                <input type="date" asp-for="Start" value="" class="form-control" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End" class="control-label"></label>
                <input type="date" asp-for="End" value="" class="form-control" />
                <span asp-validation-for="End" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 mb-3">
                <input type="submit" value="Добавить" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary rounded-1">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
