@using E_Diary.WEB.Areas.Manage.Models
@using E_Diary.WEB.Data
@using E_Diary.WEB.Data.Entities
@model StudentViewModel
@inject ASPIdentityDBContext context;
@{
    ViewData["Title"] = "Create";
}

<h1>Добавить</h1>

<h4>Ученик</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patronymic" class="control-label"></label>
                <input asp-for="Patronymic" class="form-control" />
                <span asp-validation-for="Patronymic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control">
                    <option value="0">Мужской</option>
                    <option value="1">Женский</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <div class="row" style="--bs-gutter-x:0">
                    <input type="text" asp-for="Password" class="form-control col" />
                    <button name="GeneratePassword" type="button" class="btn btn-success form-control col">Сгенерировать</button>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupId" class="control-label"></label>
                <select asp-for="GroupId" class="form-control selectpicker" data-live-search="true" required>
                    @foreach (Group group in context.Groups)
                    {
                        <option data-tokens="@group.Year@group.Literal" value="@group.Id">@group.Year@group.Literal</option>
                    }
                </select>
                <span asp-validation-for="GroupId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 mb-3">
                <input type="submit" value="Добавить" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary rounded-1">Вернуться к списку</a>
</div>

@section Scripts {
    
    <script src="~/js/GetGeneratedPassword.js" asp-append-version="true"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
