<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_Diary.WEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.scss" />
    <link rel="stylesheet" href="~/E_Diary.WEB.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100 m-0">
    <header class="p-3">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light rounded-1 border-bottom box-shadow mb-3" style="background: linear-gradient(90deg, rgba(0,123,255,1) 0%, rgba(171,201,240,1) 100%);">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/src/images/logo.svg" alt="" width="72" height="72">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" >
                        
                    </ul>
                    <partial name="_LoginPartial" align="left"/>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid p-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-auto" style="background-color:#cce2ff">
        <div class="container-fluid px-3 d-flex align-content-start">
            <div class="col-1">
                <img src="~/src/images/logo.svg" alt="">
            </div>
            <div class="container d-flex flex-column col-4 text-wrap">
               <p>Телефон: 8-800-555-3535</p>
               <p>Эл. почта: schoolpro@mydomain.com</p>
               <p>Адрес: г. Ишимбай, ул. Шишимбабая, д. 100500</p>
            </div>
            <div class="flex-grow-1">
                <p>-----------------------------------------------</p>
                <p>-----------------------</p>
                <p>------------------------------------------------------------</p>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
