@using E_Diary.WEB.Data.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item rounded-2 me-1 " style="background-color:#006fe6;">
            <a class="btn text-light" asp-action="Profile" asp-area="" asp-controller="Account" title="Manage">Профиль</a>
    </li>
    <li class="nav-item">
            <form class="form-inline" asp-area="" asp-action="LogOut" asp-controller="Account">
            <button class="btn btn-secondary" type="submit">Выйти</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login"><img alt="user-unauthorized.svg" src="~/src/images/user-unauthorized.svg" style="height:1em; width:1em; object-fit:contain" />Войти</a>
    </li>
}
</ul>
