@using E_Diary.WEB.Data.Entities
@inject E_Diary.WEB.Data.ASPIdentityDBContext context
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Вы - администратор электронного журнала</h2>
<div class="accordion border-bottom-0">
    <details class="accordion-item">
        <summary class="accordion-button rounded-top border-bottom-0">Управление классами</summary>
        <nav class="accordion-body navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-top box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="me-2">
                            <a asp-controller="Group" asp-action="Create" class="btn btn-success rounded-2">Добавить</a>
                        </li>
                        <li class="me-2">
                            <a asp-controller="Group" asp-action="Index" class="btn btn-secondary rounded-2">Список</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </details>
    <details class="accordion-item">
        <summary class="accordion-button rounded-top border-bottom-0">Управление учениками</summary>
        <nav class="accordion-body navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-top box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="me-2">
                            <a asp-controller="Student" asp-action="Create" class="btn btn-success rounded-2">Добавить</a>
                        </li>
                        <li class="me-2">
                            <a asp-controller="Student" asp-action="Index" class="btn btn-secondary rounded-2">Список</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </details>
    <details class="accordion-item">
        <summary class="accordion-button rounded-top border-bottom-0">Управление учителями</summary>
        <nav class="accordion-body navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-top box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="me-2">
                            <a asp-controller="Teacher" asp-action="Create" class="btn btn-success rounded-2">Добавить</a>
                        </li>
                        <li class="me-2">
                            <a asp-controller="Teacher" asp-action="Index" class="btn btn-secondary rounded-2">Список</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </details>
    <details class="accordion-item">
        <summary class="accordion-button rounded-top border-bottom-0">Управление предметами</summary>
        <nav class="accordion-body navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-top box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="me-2">
                            <a asp-controller="Subject" asp-action="Create" class="btn btn-success rounded-2">Добавить</a>
                        </li>
                        <li class="me-2">
                            <a asp-controller="Subject" asp-action="Index" class="btn btn-secondary rounded-2">Список</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </details>
    <details class="accordion-item">
        <summary class="accordion-button rounded-top border-bottom-0">Управление предметами, назначенными классу и учителю</summary>
        <nav class="accordion-body navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-top box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="me-2">
                            <a asp-controller="TeacherGroupSubjects" class="btn btn-success rounded-2" asp-action="Create">Добавить</a>
                        </li>
                        <li class="me-2">
                            <a asp-controller="TeacherGroupSubjects" class="btn btn-secondary rounded-2" asp-action="Index">Список</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </details>
    <details class="accordion-item">
        <summary class="accordion-button rounded-top border-bottom-0">Управление аттестационными периодами</summary>
        <nav class="accordion-body navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-top box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="me-2">
                            <a asp-controller="StudyYears" asp-action="Create" class="btn btn-success rounded-2">Добавить</a>
                        </li>
                        <li class="me-2">
                            <a asp-controller="StudyYears" asp-action="Index" class="btn btn-secondary rounded-2">Список</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </details>
    <details class="accordion-item">
        <summary class="accordion-button rounded-top border-bottom-0">Управление расписанием</summary>
        <nav class="accordion-body navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-top box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <form class="navbar-nav flex-grow-1" asp-controller="Schedule" asp-action="Index">
                        <select class="form-control me-2" name="GroupId" data-live-search="true" required>
                            @foreach (Group group in context.Groups)
                            {
                                <option data-tokens="@group.Year@group.Literal" value="@group.Id">@group.Year@group.Literal</option>
                            }
                        </select>
                        <input class="btn btn-success rounded-2 me-2" type="submit" value="Посмотреть" />
                    </form>
                </div>
            </div>
        </nav>
    </details>
    @* <details class="accordion-item">
    <summary class="accordion-button rounded-top border-bottom-0">Управление администраторами</summary>
    <nav class="accordion-body navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-top box-shadow mb-3">
    <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
    <li class="mx-3">
    <a asp-area="" asp-controller="Student" asp-action="Create"><button class="btn-primary rounded-2">Добавить администратора</button></a>
    </li>
    <li class="mx-3">
    <a asp-area="" asp-controller="Student" asp-action="Create"><button class="btn-secondary rounded-2">Список администраторов</button></a>
    </li>
    </ul>
    </div>
    </div>
    </nav>
    </details> *@
</div>    